# Editor files

.vscode/
.idea/

# Python (https://github.com/github/gitignore/blob/master/Python.gitignore)
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# LaTeX (https://github.com/github/gitignore/blob/master/TeX.gitignore)
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
